<div class="page-wrapper">
  <app-header></app-header>
  <app-breadcrumb [text]="'Dashboard'"></app-breadcrumb>

  <div class="flex flex-row mt-10">
    <app-side-bar class="pr-15"></app-side-bar>

    <div class="flex flex-col flex-1 pr-10">
      <div class="flex flex-col lg:flex-row gap-6">
        <div class="g-container">
          <app-line-chart
            [routerLinkPath]="'/income'"
            [chartData]="incomeChartData"
            [label]="'Recent Incomes'"
            [isDashboard]="true"
          ></app-line-chart>
        </div>

        <div class="pc-container">
          <app-pie-chart
            [pieChartData]="incomePieChartData"
            [currentMonthName]="monthNames[currentMonthIndex]"
            [currentYear]="currentYear"
            [isIncome]="true"
            (monthChanged)="handleMonthChange($event)"
          ></app-pie-chart>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row gap-6 mt-10">
        <div class="g-container lg:order-2">
          <app-line-chart
            [routerLinkPath]="'/expenses'"
            [chartData]="expenseChartData"
            [label]="'Recent Expenses'"
            [isDashboard]="true"
          ></app-line-chart>
        </div>
        <div class="pc-container lg:order-1">
          <!-- Expense Pie Chart -->
          <app-pie-chart
            [pieChartData]="expensePieChartData"
            [currentMonthName]="monthNames[currentMonthIndex]"
            [currentYear]="currentYear"
            [isIncome]="false"
            (monthChanged)="handleMonthChange($event)"
          ></app-pie-chart>
        </div>
      </div>

      <!-- New Savings Line Chart -->
      <div class="flex flex-col lg:flex-row gap-6 mt-10">
        <div class="g-container">
          <app-line-chart
            [chartData]="savingsChartData"
            [label]="'Savings Overview'"
            [isDashboard]="false"
          ></app-line-chart>
        </div>

        <app-total-card
          [title]="'Total Savings'"
          [currentMonthName]="monthNames[currentMonthIndex]"
          [currentYear]="currentYear"
          [total]="totalMonthlySavings"
          (monthChanged)="handleMonthChange($event)"
        >
        </app-total-card>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
