
.navbar {
  text-align: center;
  // padding: 16px;
  padding-right: 100px;
  display: flex;
}
.nav-container {
  display:flex;
  align-items: center;
  background-color: #121212;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #444;
}

.nav-item {
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 50px;
  transition: color 0.3s ease-in-out;
}

.nav-item.active {
  background: #333;
  color: #02EA77
}

.nav-item:hover {
  color:#02EA77;
}
