<div class="section-container flex flex-col items-center m-20 mr-30 ml-30">
  <div class="text-center pb-10">
    <div class="poppins-heading pt-10">Smart Finance Tracking Made Simple</div>
    <div class="poppins-heading text-colour">With The Help Of Ai</div>
  </div>

  <div class="flex flex-col items-center pb-15">
    <div class="text-center poppins-medium pb-6">
      Our AI-driven personal finance tracker helps users manage expenses,
      set budgets, and predict future spending with smart insights. It
      automates expense tracking, provides real-time financial analysis, and
      offers AI-powered recommendations for better financial decisions.
    </div>
    <button class="button-1">
      <!-- go to signup -->
      Get Started
    </button>
  </div>
</div>
