<!--<footer class="footer-container mx-10 ">
  <div class="footer-grid">

    <div>
      <img src="assets/logo.png" alt="App Logo" class="logo" />
      <p class="description">We are more than a digital agency</p>
    </div>


    <div>
      <h3 class="footer-heading text-accent">Contact Us</h3>
      <ul class="footer-list">
        <li><span class="icon">📞</span> +1234567890</li>
        <li><span class="icon">✉️</span> support.com</li>
        <li><span class="icon">📍</span> West Virginia, USA</li>
        <li><span class="icon">🗓️</span> Monday to Friday</li>
      </ul>
    </div>


    <div>
      <h3 class="footer-heading text-accent">Quick Links</h3>
      <ul class="footer-list">
        <li><a href="#" class="link">About</a></li>
        <li><a href="#" class="link">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-meta">
      <a href="#" class="link">Privacy Policy</a>
      <a href="#" class="link">Terms Of Use</a>
      <span>© 2025 All rights reserved</span>
    </div>
  -->
  <footer class="footer-container">
    <div class="line mb-10"></div>
    <div class="footer-grid">
      <!-- Logo & Description -->
      <div>
        <img src="assets/logo.png" alt="App Logo" class="logo" />
        <p class="poppins-small description">We are more than a digital agency</p>
      </div>

      <!-- Contact Us -->
      <div>
        <h3 class="poppins-medium footer-heading text-accent">Contact Us</h3>
        <ul class="footer-list poppins-small">
          <li><span class="icon">📞</span> +1234567890</li>
          <li><span class="icon">✉️</span> support.com</li>
          <li><span class="icon">📍</span> West Virginia, USA</li>
          <li><span class="icon">🗓️</span> Monday to Friday</li>
        </ul>
      </div>

      <!-- Quick Links -->
      <div>
        <h3 class="poppins-medium footer-heading text-accent">Quick Links</h3>
        <ul class="footer-list poppins-small">
          <li><a class="link" routerLink="/home" routerLinkActive="active">
            Home</a></li>
          <li><a class="link" routerLink="/about-us" routerLinkActive="active">
            About Us
          </a></li>
          <li><a class="link" routerLink="/contact-us" routerLinkActive="active">
            Contact Us
          </a></li>
        </ul>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom poppins-small">
      <div class="footer-meta">
        <a href="#" class="link">Privacy Policy</a>
        <a href="#" class="link">Terms Of Use</a>
        <span>© 2024 All rights reserved</span>
      </div>
    </div>
  </footer>
