    <!-- Team Members -->
    <!-- <div>
      <h3 class="poppins-medium footer-heading text-accent">Meet the Team</h3>
      <ul class="footer-list poppins-small">
        <li><span class="icon">👤</span> Muhammad Taqi Haider - <a href="https://github.com/taqihaider110" target="_blank" class="link">GitHub</a></li>
        <li><span class="icon">👤</span> Wajih-Ur-Rehman - <a href="https://github.com/Wajih-09" target="_blank" class="link">GitHub</a></li>
        <li><span class="icon">👤</span> Filza Tanveer</li>
      </ul>
    </div>
  </div> -->

<footer class="footer-container">
  <div class="line mb-10"></div>
  <div class="footer-grid">
    <!-- Logo & Description -->
    <div class="text-center">
      <img src="assets/images/logo2.png" alt="App Logo" class="h-15 mx-auto" />
      <div class="poppins-heading mb-3">TrackWise</div>
      <p class="poppins-small description">Empowering individuals to take control of their financial future.</p>
    </div>

    <!-- Contact Us -->
    <div>
      <h3 class="poppins-medium footer-heading text-accent">Contact Us</h3>
      <ul class="footer-list poppins-small">
        <li><span class="icon">
          <img src="assets/icons/location.svg" alt="Location Icon" class="icon-img" />
        </span> Karachi, Pakistan</li>
        <li><span class="icon">
          <img src="assets/icons/calendar.svg" alt="Location Icon" class="icon-img" />
        </span> Monday to Friday: 9 AM - 6 PM</li>
        <li><span class="icon">
              <img src="assets/icons/mail.svg" alt="Email Icon" class="icon-img" />
            </span>
               <a href="mailto:taqihaider591&#64;gmail.com" class="link">taqihaider591&#64;gmail.com</a></li>
            <li><span class="icon">
              <img src="assets/icons/mail.svg" alt="Email Icon" class="icon-img" />
            </span>
               <a href="mailto:wajihwork0902&#64;gmail.com" class="link">wajihwork0902&#64;gmail.com</a></li>
            <li><span class="icon">
               <img src="assets/icons/mail.svg" alt="Email Icon" class="icon-img" />
            </span>
               <a href="mailto:tanveerfilza09&#64;gmail.com" class="link">tanveerfilza09&#64;gmail.com</a></li>
            </ul>
          </div>

    <div class="footer-links">
      <h3 class="poppins-medium footer-heading text-accent">Quick Links</h3>
      <ul class="footer-list poppins-small">
        <li><a class="link" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a class="link" routerLink="/about-us" routerLinkActive="active">About Us</a></li>
        <li><a class="link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom poppins-small mt-3">
    <div class="footer-meta">
      <div href="#" class="link">Privacy Policy</div>
      <div href="#" class="link">Terms Of Use</div>
      <span>© 2025 All rights reserved</span>
    </div>
  </div>
</footer>
