.button-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #121212;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #02EA77;
  width: 160px;
  height: 50px;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 9px 8px #060606c2;

  }

  &:active {
    opacity: 0.5;
  }
}

.line {
  border-bottom: 1px solid #373737;
  width: 70%;
}

.text-outline {
  border: 1px solid #02EA77;
  text-align: center;
  padding: 2px 20px 2px 20px;
  max-width: fit-content;
  border-radius: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

.button-2-red {
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  border: 2px solid #ff4d4d;

  &:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
  }
}

.button-2-green{
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  border: 2px solid #02ea77;

  &:hover {
    background-color: #02ea77;
    transform: scale(1.05);
  }
}


input[type="date"] {
  appearance: none; /* Remove default browser styling */
  -webkit-appearance: none; /* Remove default WebKit styling */
  background-color: #2e2e2e; /* Set background color */
  color: white; /* Set text color */
  border: 1px solid #3a3a3a; /* Add border */
  border-radius: 8px; /* Add rounded corners */
  padding: 10px; /* Add padding */
  font-size: 1rem; /* Set font size */
  width: 100%; /* Make the input take full width */

  &:focus {
    outline: none; /* Remove default focus outline */
    border-color: #02ea77; /* Highlight border on focus */
    box-shadow: 0 0 5px rgba(2, 234, 119, 0.5); /* Add focus shadow */
  }
}

/* Style the calendar icon */
input[type="month"]::-webkit-calendar-picker-indicator {
  background-color: #02ea77; /* Set background color for the icon */
  color: white !important; /* Set icon color */
  border-radius: 50%; /* Make the icon circular */
  padding: 5px; /* Add padding inside the icon */
  cursor: pointer; /* Change cursor to pointer */
}

/* Hide the default calendar icon if needed */
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-clear-button {
  display: none; /* Hide spin and clear buttons */
}


input[type="month"]::-webkit-calendar-picker-indicator {
  background-color: #02ea77; /* Set background color for the icon */
  color: white !important; /* Set icon color */
  border-radius: 50%; /* Make the icon circular */
  padding: 5px; /* Add padding inside the icon */
  cursor: pointer; /* Change cursor to pointer */
}

/* Hide the default calendar icon if needed */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none; /* Hide spin and clear buttons */
}
