.button-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #121212;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  background-color: #02EA77;
  width: 160px;
  height: 50px;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 9px 8px #060606c2;

  }

  &:active {
    opacity: 0.5;
  }
}

.line {
  border-bottom: 1px solid #373737;
  width: 70%;
}

.text-outline {
  border: 1px solid #02EA77;
  text-align: center;
  padding: 2px 20px 2px 20px;
  max-width: fit-content;
  border-radius: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

.button-2-red {
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  border: 2px solid #ff4d4d;

  &:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
  }
}

.button-2-green{
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  border: 2px solid #02ea77;

  &:hover {
    background-color: #02ea77;
    transform: scale(1.05);
  }
}
